<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=Edge, chrome=1">
<title>丽江大屏</title>
<link rel="stylesheet" href="www/css/bigscreen.min.css">
<link rel="stylesheet" href="www/css/leaflet.css">
</head>


<div class="bigscreen">
    <div class="menu">
        <div class="menu-item">
            <a href="bigscreen1.html">
                <i class="iconfont icon-shujudaping"></i></br>
                数据大屏
            </a>
            <a href="portrait.html">
                <i class="iconfont icon-yonghuhuaxiang"></i></br>
                用户画像
            </a>
            <a v-on:click="logout()" href="#">
                <i class="iconfont icon-tuichu"></i></br>
                退出
            </a>
        </div>
    </div>
    <!-- <a href="bigscreen0.html" class="gooooo prev">
        <i class="iconfont icon-left"></i>
    </a>
    <a href="bigscreen2.html" class="gooooo next">
        <i class="iconfont icon-right"></i>
    </a> -->
    <div class="center">
        <header>
            <p>丽江数据展示系统</p>
        </header>
    </div>
    <div class="middle">
        <ul class="count">
            <li>
                <div>
                    <p class="col-tit">用户总数</p>
                    <p class="col-num"><span>{{userTotal}}</span> 次</p>
                </div>
            </li>
            <li>
                <div>
                    <p class="col-tit">两舱服务使用次数</p>
                    <p class="col-num"><span>{{lounge}}</span> 次</p>
                </div>
            </li>
            <li>
                <div>
                <p class="col-tit">要客服务使用次数</p>
                <p class="col-num"><span>{{concierge}}</span> 次</p>
                </div>
            </li>
        </ul>
        <div class="chart-map" id="chart-map">
            <ul class="distribute">
                <li class="active">目的地旅客分布</li>
                <li>出发地旅客分布</li>
                <li>旅客分布</li>
            </ul>
            <div class="chinaMap" id="chinaMap" ></div>
            <!-- <div class="map" id="chinaMap"></div> -->
        </div>
    </div>
    <div class="left">
        <header class="title">
            <p>
                <!-- <em>■</em>  -->
                丽江机场热门休息室/贵宾厅
            </p>
            <p class="english">Lijiang Airport popular lounge</p>
        </header>
        <div id="leftFade" class="fade-wrap">
            <ul class="content content-left">
                <li>
                    <table class="pure-table">
                        <thead>
                            <tr>
                                <th>序号</th>
                                <th>休息室</th>
                                <th>使用人次</th>
                                <th>热度</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="el in rest">
                                <td>
                                    <span>{{$index+1}}</span>
                                </td>
                                <td>
                                    {{el.serviceDetailName}}
                                </td>
                                <td>
                                    {{el.serverNum}}
                                </td>
                                <td v-bind:style="el.style">
                                    <i class="iconfont icon-jiantou {{el.isUp}}"></i>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </li>
            </ul>
        </div>
    </div>
    <div class="right">
        <header class="title">
            <div class="float-left">
                <p>
                    <!-- <em>■</em>  -->
                    来源渠道
                </p>
                <p class="english">Source channel</p>
            </div>
        </header>
        <div style="clear:both"></div>
        <div id="rightFade" class="fade-wrap">
            <ul class="float-right" style="position:absolute;top:0.8em;right:.8em">
                <li class="active">航司</li>
                <li>第三方</li>
                <li>协议单位</li>
            </ul>
            <!-- <ul class="nav nav-right">
                <li class="active">
                    境内企业机构
                </li>
                <li>
                    境外企业机构
                </li>
                <li>
                    OTA
                </li>
            </ul> -->
            <ul class="content content-right">
                <li>
                    <table class="pure-table">
                        <thead>
                            <tr>
                                <th>序号</th>
                                <th>航空公司</th>
                                <th>单日累计</th>
                                <th>当月累计</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="el in agency.a">
                                <td>
                                    <span>{{$index+1}}</span>
                                </td>
                                <td>
                                    {{el.customer_name}}<br>
                                </td>
                                <td>
                                    {{el.dayNums}}
                                </td>
                                <td>
                                    {{el.monthNums}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </li>
                <li>
                    <table class="pure-table">
                        <thead>
                            <tr>
                                <th>序号</th>
                                <th>第三方</th>
                                <th>单日累计</th>
                                <th>当月累计</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="el in agency.b">
                                <td>
                                    <span>{{$index+1}}</span>
                                </td>
                                <td>
                                    {{el.customer_name}}<br>
                                </td>
                                <td>
                                    {{el.dayNums}}
                                </td>
                                <td>
                                    {{el.monthNums}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </li>
                <li>
                    <table class="pure-table">
                        <thead>
                            <tr>
                                <th>序号</th>
                                <th>协议单位</th>
                                <th>单日累计</th>
                                <th>当月累计</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="el in agency.c">
                                <td>
                                    <span>{{$index+1}}</span>
                                </td>
                                <td>
                                    {{el.customer_name}}<br>
                                </td>
                                <td>
                                    {{el.dayNums}}
                                </td>
                                <td>
                                    {{el.monthNums}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </li>
            </ul>
        </div>
    </div>

</div>




<script src="www/lib/jquery.min.js"></script>
<script src="www/lib/vue.min.js"></script>
<script src="www/lib/echarts.min.js"></script>
<script src="www/lib/china.js"></script>
<script src="www/lib/main.min.js"></script>
<script src="src/js/common.js"></script>
<script src="src/js/bigscreen1.js"></script>
</body>
</html>
