<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge, chrome=1">
    <title>丽江机场用户画像</title>
    <link rel="stylesheet" href="www/css/portrait.min.css">
</head>

<body>

    <div class="menu">
        <div class="menu-item">
            <a href="bigscreen1.html">
                <i class="iconfont icon-shujudaping"></i></br>
                数据大屏
            </a>
            <a href="portrait.html">
                <i class="iconfont icon-yonghuhuaxiang"></i></br>
                用户画像
            </a>
            <a v-on:click="logout()" href="#">
                <i class="iconfont icon-tuichu"></i></br>
                退出
            </a>
        </div>
    </div>
    <div class="container">
        <div class="portrait-title">
            <header>
                <p>丽江机场用户画像</p>
            </header>
        </div>

        <div class="tags-tabs" v-show="tagsShow">
            <div class="toggle" v-on:click="toggle()" v-bind:class="{'active':!istoggle}">
                <div class="arrow">
                    <i class="iconfont icon-down-copy-copy"></i>
                </div>
            </div>
            <ul class="tabs-nav">
                <li class="active">基本信息</li>
                <li>业务特征</li>
                <li>两舱服务使用特征</li>
                <li>要客服务使用特征</li>
            </ul>
            <div class="tabs-content" v-bind:class="{'toggled':istoggle}">
                <div class="item">
                    <div class="filter">
                        <label>{{tagsMap.cityLevel}}：</label>
                        <div class="labels">
                            <a v-for="el in userTags.cityLevel" v-on:click="choose(el)" v-bind:class="{'active': el.selected}">
                            {{el.name}}
                        </a>
                        </div>
                    </div>
                    <div class="filter">
                        <label>{{tagsMap.cityRegion}}：</label>
                        <div class="labels">
                            <a v-for="el in userTags.cityRegion" v-on:click="choose(el)" v-bind:class="{'active': el.selected}">
                            {{el.name}}
                        </a>
                        </div>
                    </div>
                    <div class="filter">
                        <label>{{tagsMap.province}}：</label>
                        <div class="labels">
                            <a v-for="el in userTags.province" v-on:click="choose(el)" v-bind:class="{'active': el.selected}">
                            {{el.name}}
                        </a>
                        </div>
                    </div>
                    <div class="filter">
                        <label>{{tagsMap.nameValidation}}：</label>
                        <div class="labels">
                            <a v-for="el in userTags.nameValidation" v-on:click="choose(el)" v-bind:class="{'active': el.selected}">
                            {{el.name}}
                        </a>
                        </div>
                    </div>
                    <div class="filter">
                        <label>{{tagsMap.sex}}：</label>
                        <div class="labels">
                            <a v-for="el in userTags.sex" v-on:click="choose(el)" v-bind:class="{'active': el.selected}">
                            {{el.name}}
                        </a>
                        </div>
                    </div>
                    <div class="filter">
                        <label>{{tagsMap.age}}：</label>
                        <div class="labels">
                            <a v-for="el in userTags.age" v-on:click="choose(el)" v-bind:class="{'active': el.selected}">
                            {{el.name}}
                        </a>
                        </div>
                    </div>

                </div>
                <div class="item">
                    <div class="filter">
                        <label>{{tagsMap.institutionType}}：</label>
                        <div class="labels">
                            <a v-for="el in cardTags.institutionType" v-on:click="choose(el)" v-bind:class="{'active': el.selected}">
                            {{el.name}}
                        </a>
                        </div>
                    </div>
                    <div class="filter">
                        <label>{{tagsMap.protocolType}}：</label>
                        <div class="labels">
                            <a v-for="el in cardTags.protocolType" v-on:click="choose(el)" v-bind:class="{'active': el.selected}">
                            {{el.name}}
                        </a>
                        </div>
                    </div>
                    <div class="filter">
                        <label>{{tagsMap.productType}}：</label>
                        <div class="labels">
                            <a v-for="el in cardTags.productType" v-on:click="choose(el)" v-bind:class="{'active': el.selected}">
                            {{el.name}}
                        </a>
                        </div>
                    </div>
                </div>
                <div class="item">
                     
                    <div class="item1" style="display:block">
                            <ul class="tabs-nav2">
                                <li class="active2">头等舱</li>
                                <li>招行厅</li>
                                <li>政要厅</li>
                            </ul>
                    <div class="filter">
                        <label>{{tagsMap.accumulationUsage}}：</label>
                        <div class="labels">
                            <a v-for="el in appTags.accumulationUsage" v-on:click="choose(el)" v-bind:class="{'active': el.selected}">
                            {{el.name}}
                        </a>
                        </div>
                    </div>
                    <div class="filter">
                        <label>{{tagsMap.recencyUsage}}：</label>
                        <div class="labels">
                            <a v-for="el in appTags.recencyUsage" v-on:click="choose(el)" v-bind:class="{'active': el.selected}">
                            {{el.name}}
                        </a>
                        </div>
                    </div>
                    <div class="filter">
                        <label>{{tagsMap.notRecencyUsage}}：</label>
                        <div class="labels">
                            <a v-for="el in appTags.notRecencyUsage" v-on:click="choose(el)" v-bind:class="{'active': el.selected}">
                            {{el.name}}
                        </a>
                        </div>
                    </div>
                    <div class="filter">
                        <label>{{tagsMap.serviceCount}}：</label>
                        <div class="labels">
                            <a v-for="el in appTags.serviceCount" v-on:click="choose(el)" v-bind:class="{'active': el.selected}">
                            {{el.name}}
                        </a>
                        </div>
                    </div>
                </div>
                </div>
                <div class="item">
                    <div class="item1" style="display:block">

                        <ul class="tabs-nav1">
                            <li class="active1">候检区</li>
                            <li>会员区</li>
                            <li>别院区</li>
                            <li>6号厅</li>
                            <li>招行厅</li>
                            <li>农行厅</li>
                            <li>工行厅</li>
                            <li>政要厅</li>
                        </ul>
                        <div class="filter">
                            <label>{{tagsMap.accumulationUsage}}：</label>
                            <div class="labels">
                                <a v-for="el in restTags.accumulationUsage" v-on:click="choose(el)" v-bind:class="{'active': el.selected}">
                                {{el.name}}
                            </a>
                            </div>
                        </div>
                        <div class="filter">
                            <label>{{tagsMap.recencyUsage}}：</label>
                            <div class="labels">
                                <a v-for="el in restTags.recencyUsage" v-on:click="choose(el)" v-bind:class="{'active': el.selected}">
                                {{el.name}}
                            </a>
                            </div>
                        </div>
    
                        <div class="filter">
                            <label>{{tagsMap.notRecencyUsage}}：</label>
                            <div class="labels">
                                <a v-for="el in restTags.notRecencyUsage" v-on:click="choose(el)" v-bind:class="{'active': el.selected}">
                                {{el.name}}
                            </a>
                            </div>
                        </div>
    
                        <div class="filter">
                            <label>{{tagsMap.serviceCount}}：</label>
                            <div class="labels">
                                <a v-for="el in restTags.serviceCount" v-on:click="choose(el)" v-bind:class="{'active': el.selected}">
                                {{el.name}}
                            </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="filter-choose">
                <div class="line"></div>
                <div class="filter">
                    <label>分布：</label>
                    <div class="labels">
                        <select v-model="option1" v-on:change="change">
                            <option value="0" selected>----请选择----</option>
                            <option v-for="option in options" v-bind:value="option.name">
                                {{ option.name }}
                            </option>
                        </select>
                        <div style="display:inline-block" v-if="willShow">
                            <select v-model="option2">
                                <option value="0" selected>----请选择----</option>
                                <option v-for="suboption in subOption" v-bind:value="suboption.type">
                                    {{ suboption.name }}
                                </option>
                            </select>
                        </div>

                        <div style="display:inline-block" v-else>
                            <select v-model="option2" v-on:change="change2">
                                <option value="0" selected>----请选择----</option>
                                <option v-for="suboption in subOption" v-bind:value="suboption.name">
                                    {{ suboption.name }}
                                </option>
                            </select>
                            <select v-model="thrName">
                                <option value="0" selected>----请选择----</option>
                                <option v-for="throption in thrOption" v-bind:value="throption.type">
                                    {{ throption.name }}
                                </option>
                            </select>
                        </div>

                        <a class="button" v-on:click="click()">查看画像</a>
                    </div>
                </div>

                <label>已选标签：</label>
                <div class="chooselist">
                    <a v-for="el in chooseList">
                    {{el.display_name}}
                </a>
                    <a v-on:click="clear()" class="button" style="float:right">清空标签</a>
                </div>
            </div>
        </div>

        <div class="no-user" v-show="noUserShow">
            共找到<span class="blue">0</span>个用户
        </div>

        <div class="user-chart" v-show="portraitShow">
            <div class="title">
                <em>■</em> 用户画像
            </div>
            <div class="chart-content">
                <div id="userChart" style="width:1000px;height:600px;margin:0 auto;"></div>
            </div>
        </div>

        <div class="portrait-all" v-show="portraitAllShow">
            <div class="chart-map">
                <a href="user_list.html" target="_blank" class="header">
                标签选择共找到<span class="blue">{{userCount}}</span>个用户
            </a>
                <div class="map" id="chinaMap"></div>
            </div>
            <div class="chart4 chart4-1">
                <div class="title">
                    <em>■</em> 所属银行分布
                </div>
                <div class="content" id="chart1"></div>
            </div>
            <div class="chart4 chart4-2">
                <div class="title">
                    <em>■</em> 休息室使用次数分布
                </div>
                <div class="content" id="chart2"></div>
            </div>
            <div class="chart4 chart4-3">
                <div class="title">
                    <em>■</em> 性别分布
                </div>
                <div class="content" id="chart3"></div>
            </div>
            <div class="chart4 chart4-4">
                <div class="title">
                    <em>■</em> 年龄分布
                </div>
                <div class="content" id="chart4"></div>
            </div>
        </div>
    </div>

    <script src="www/lib/jquery.min.js"></script>
    <script src="www/lib/vue.min.js"></script>
    <script src="www/lib/echarts.min.js"></script>
    <script src="www/lib/china.js"></script>
    <script src="src/js/common.js"></script>
    <script src="src/js/data.js"></script>
    <script src="src/js/dataKey.js"></script>
    <script src="src/js/portrait.js"></script>
</body>

</html>