@import "//at.alicdn.com/t/font_1xukwn7xr43d6lxr.css";
.blue {
  color: #00a8ff;
}
.w15 {
  width: 15%;
}
.w17 {
  width: 17%;
}
.w2 {
  width: 20%;
}
.w25 {
  width: 25%;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}
body {
  font-family: Arial, Helvetica, 'Microsoft YaHei', sans-serif, '方正行楷';
  width: 100%;
  height: 100%;
  background: url(../img/bg.png) center center fixed;
  background-size: 100% 100%;
}
html {
  height: 100%;
}
body.nav-body {
  background: url(../img/navbg.jpg) 0 0 fixed;
  background-size: 100% 100%;
}
.container {
  position: relative;
  width: 1200px;
  height: 100%;
  margin: 0 auto;
}
.container .nav {
  position: absolute;
  height: 186px;
  width: 800px;
  left: 50%;
  top: 50%;
  margin-top: -98px;
  margin-left: -382px;
  text-align: center;
}
.container .nav a {
  display: inline-block;
  width: 198px;
  height: 142px;
  border: 1px solid #fff;
  margin-right: 50px;
  -webkit-transition: .5s all;
  transition: .5s all;
  color: #fff;
  text-decoration: none;
  font-size: 26px;
  padding-top: 16px;
}
.container .nav a .iconfont {
  font-size: 70px;
}
.container .nav a:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
  border: 1px solid #027fef;
  color: #027fef;
}
.container .box {
  width: 350px;
  height: 360px;
  padding: 30px;
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -230px;
  background-color: #14296d;
}
.container .box h2 {
  font-weight: normal;
  text-align: center;
  color: #fff;
}
.container .box .btn {
  position: relative;
  width: 280px;
  height: 46px;
  background-color: #102157;
  border-radius: 3px;
  margin: 0 auto;
  margin-top: 30px;
  color: #fff;
  line-height: 46px;
  padding: 0 15px;
}
.container .box .btn label {
  font-size: 22px;
  padding-right: 15px;
  border-right: 2px solid #1d2b58;
}
.container .box .btn input {
  border: none;
  background-color: transparent;
  outline: none;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  height: 100%;
}
.container .box .pwd {
  margin-bottom: 80px;
}
.container .box .send-btn {
  position: relative;
  background-color: #045ea3;
  width: 280px;
  height: 46px;
  border-radius: 5px;
  margin: 0 auto;
  line-height: 46px;
}
.container .box .send-btn button {
  font-size: 18px;
  border: none;
  height: 100%;
  width: 100%;
  background: transparent;
  color: #fff;
  font-weight: 600;
}
.container .box .send-btn .error-msg {
  position: absolute;
  top: -40px;
  color: #f00;
  font-size: 14px;
}
.logout {
  color: white;
  position: absolute;
  left: 50%;
  bottom: 10%;
  border: 1px solid white;
  padding: .5em 1em;
  margin-left: -50px;
  cursor: pointer;
  font-size: 18px;
}
